.auctionblock {
    height: 200px;
    width: 80%;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin: 0 auto;
    border-radius: 5px;
}

.listimage {
    display: block;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

/* This is an example seen in https://www.w3schools.com/howto/howto_css_star_rating.asp */
.checked {
    color: orange;
}

nav {
    margin-bottom: 15px;
}

.auctionlink {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.detailimg {
    display: block;
    height: 800px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.notbold {
    font-weight: normal;
}

.comment-header {
    height: 40px;
    width: 97.5%;
    background-color: #E9ECEF;
    border: solid 1px lightgray;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 6px;
}

.comment-body {
    display: block;
    width: 97.5%;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow-wrap: break-word;
    min-height: 30px;
}
